@import "variables.scss";
@import "blocks/main-header.scss";
@import "blocks/main-footer.scss";
@import "blocks/content.scss";
@import "blocks/main-navigation.scss";

body {
  font-family: 'Monospace', serif;
  margin: 0;
  padding: 0;
}
