.content {
  display: flex;
  justify-content: center;
}

.content__heading {
  text-align: center;
}

.content__inner {
  width: 290px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

