extends layout

block content
  h1.content__heading Events Page
  a(href="/events/add") Add new event
  section.events
    ul.events__list
      li.event
        p потом это всё напишу, мне пока нужен лист
  