extends layout

block content
  h1.content__heading Events Page
  a(href="/events/add") Add new event
  section.events
    ul.events__list
      each event in events
       li.event
         a(href=`${event.slug}`) #{event.name}
         br
         a(href=`/events/${event._id}/edit`) Edit event

  