doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    title #{pageName}| Tutorforces
  body
    header.main-header
      nav.main-header__inner.main-navigation
        a.logo(href="/")
          img(src="img/logo.png", alt="tutorforces", width="200" height="50").logo__image
        ul.main-navigation__list
          li.main-navigation__element
            a.main-navigation__link(href="") link1
          li.main-navigation__element
            a.main-navigation__link(href="") link2
          li.main-navigation__element
            a.main-navigation__link(href="") link3
          li.main-navigation__element
            a.main-navigation__link(href="") link4
    main.content
      block content
    footer.main-footer
      .main-footer__inner
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ex labore a laboriosam amet ipsa nisi aliquid pariatur doloribus! Deleniti molestiae ipsa animi iusto maxime, iure totam laboriosam nemo excepturi.
